@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #e60012;
    --color-secondary: #0b2b6b;
    --color-bg: #d6f0fa;
    --color-br-2: #f8f8f8;
    --color-grey: #efefef;
    --white: #fff;
    --color-gray-light: #727272;
    --color-grey-dark: #434242;
    --color-icon: #484848;


    --display: display:flex;
    font-size: 62.5%;
}

html, body, input, select, a{
    font: 300 1.6rem "Open Sans";
    color: #434242;
}

body::before{
    content: '';
    width: 100%;
    height: 650px;
    background-color: var(--color-bg);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header{
    display: grid;
    grid-template-areas: 
    "left right"
    "options options"
    "more more";
    border-bottom: 1px solid var(--color-grey);
    background-color: var(--white);
}

h4{
    font-size: 1.4rem;
}

.flex{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.left-side{
    grid-area: left;
}

.logo-nintendo{
    background-color: var(--color-primary);
    width: 10.5rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.left-side .search-camp{
    border-bottom: 1px solid var(--color-grey-dark);
    padding: 1rem 0;
}

.left-side .search-camp form input{
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.right-side{
    margin-left: auto;
    display: grid;
}

.right-side ul{
    padding: 0 2.0rem;
    gap: 2.8rem;
    list-style: none;
}

.right-side ul li a, .select, .options, .more-information{
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.color{
    color: var(--color-icon);
    transition: all 200ms ease-in-out 0s;
}

.color:hover{
    color: var(--color-primary);
    cursor: pointer;
}

.right-side ul img{
    width: 2.4rem;
    height: 1.5rem;
    border-radius: .3rem;
}

.options{
    grid-area: options;
    width: 100%;
    padding: 1.2rem;
    gap: 2rem;
    border: 1px solid var(--color-grey);
}

.more-information{
   grid-area: more;
   background-color: var(--color-br-2);
}

.more-information ul, .more-information ul li{
    padding: .5rem 1.5rem;
}

.more-information ul li{
    display: flex;
    gap: 1.5rem;
}

.more-information ul li + li{
    border-left: 1px solid black;
}

main .card-game{
    max-width: 124.0rem;
    margin: 0px auto;
    transform: translateY(2em);
    padding: 2rem 3rem;;
    background-color: var(--white);
    border-radius: 1.6rem;
    box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
}

.origin ul{
    font-size: 1.3rem;
    font-weight: 700;
    list-style: none;
    gap: 1rem;
    color: var(--color-gray-light);
    cursor: pointer;
}

.origin ul li span{
    color: var(--color-icon);
    cursor: auto;
}