@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #e60012;
    --color-secondary: #0b2b6b;
    --color-bg: #d6f0fa;
    --color-grey: #efefef;
    --white: #fff;
    --color-grey-dark: #434242;
    --color-icon: #484848;

    font-size: 62.5%;
}

html, body, input, select{
    font: normal 1.6rem "Open Sans";
    color: #434242;
}

header{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-areas: 
    "left right"
    "options options";
    border-bottom: 1px solid var(--color-grey);
}

.left-side{
    display: flex;
    align-items: center;
    grid-area: left;
}

.logo-nintendo{
    background-color: var(--color-primary);
    width: 10.5rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.left-side .search-camp{
    border-bottom: 1px solid var(--color-grey-dark);
    padding: 1rem 0;
}

.left-side .search-camp form{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.left-side .search-camp form input{
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
}

select, option{
    border: none;
    outline: none;
}

.right-side{
    margin-left: auto;
    display: grid;
}

.right-side ul{
    display: flex;
    padding: 0 2.0rem;
    align-items: center;
    gap: 2.8rem;
    list-style: none;
}

.right-side ul li a{
    display: flex;
    align-items: center;
    gap: .8rem;
    text-decoration: none;
}
.color{
    color: var(--color-icon);
    transition: all 200ms ease-in-out 0s;
}

.color:hover{
    color: var(--color-primary);
}

.right-side ul img{
    width: 2.4rem;
    height: 1.5rem;
    border-radius: .3rem;
}

@supports (-webkit-appearance: none) and (stroke-color: transparent) {
    select {
      border: none;
      outline: none;
    }
  }